.price {
  position: absolute;
  top: 1px;
  right: 1px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img:hover,
h6:hover {
  color: orangered;
  cursor: pointer;
}
